/* invoice-create-style.css */
:root {
    --bg-color: #f1f5f9;
    --text-color: #404040;
    --text-light: #525252;
    --text-lighter: #cbd5e1;
    --border-color: #5c6ac4;
    --main-color: #5c6ac4;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--text-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.container {
    padding: 1rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 3.5rem;
}

.report-header {
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
    padding: 2rem;
    margin-bottom: 2rem;
}

.report-header .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--main-color);
}

.report-header .period {
    font-size: 28px;
    color: var(--text-light);
    margin-top: 10px;
}

.invoice-info {
    display: flex;
    gap: 2rem;
    margin-left: auto; /* to przesunie na prawą stronę */
    text-align: right; /* tekst wyrównany do prawej */
    /*color: #5c6ac4;*/
}

/* Zmiana koloru dla etykiet i wartości */
.invoice-info .label {
    color: var(--my-grey);
}

.invoice-info div:not(.label) {
    color: var(--my-yellow);
}

.data-label {
    font-weight: bold;
    color: #0056b3;
}

.logo {
    height: 3rem;
}

.invoice-info {
    display: flex;
    gap: 2rem;
}

.addresses {
    background-color: var(--bg-color);
    padding: 1.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
}

.address {
    color: var(--text-light);
    max-width: 65%;
}

.address-title {
    margin-bottom: 0.5rem;
}

.items {
    padding: 2.5rem 3.5rem;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.items-table th {
    padding: 0.75rem;
    border-bottom: 2px solid var(--border-color);
}

.items-table td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--bg-color);
}

.client-address {
    text-align: right;
    color: #5c6ac4;
    font-weight: 700;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.total-section {
    width: 50%;
    margin-left: auto;
}

.total-row {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}

.payment-details {
    padding: 0 3.5rem;
}

.section-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.notes {
    padding: 2.5rem 3.5rem;
}

.footer {
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: auto;
    padding-left: 2rem;
}

.separator {
    color: var(--text-lighter);
    padding: 0 0.5rem;
}

.document-type {
    text-align: left;
    margin-bottom: 20px;
}

.watermark {
    color: var(--my-yellow);
    font-size: 1.2rem;
    font-weight: bold;
}

.save-button {
    display: inline-block; /* Dla pełnej szerokości */
    padding: 1rem 2rem; /* Większe wymiary przycisku */
    font-size: 1.7rem; /* Większy tekst */
    font-weight: bold;
    background-color: #161b22; /* Główny kolor */
    color: #ffc008;
    border: none;
    border-radius: 5px; /* Lekko zaokrąglone rogi */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem auto;
}

.save-button:hover {
        color: black;
        background-color: #ffc008;
        box-shadow: 0px 4px 15px rgba(255, 192, 8, 0.5);
}

.save-button:active {
    color: black;
    background-color: #49ff44;
    box-shadow: 0px 4px 15px rgb(113, 232, 54);
}

/* Drukowanie */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .container {
        padding: 0;
    }

    /* ukryj przyciski i elementy nawigacji */
    .save-button {
        display: none;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* możemy dodać styl dla oznaczenia ORIGINAL/COPY */
    .document-type {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .watermark {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

/* Responsywność */
@media (max-width: 768px) {
    .header, .addresses, .items, .payment-details, .notes, .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .save-button {
        width: 100%; /* Pełna szerokość na małych ekranach */
        font-size: 1rem; /* Nieco mniejszy tekst */
    }

    .addresses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*gap: 1.5rem;*/
    }

    .address {
        max-width: 45%;
    }

    .total-section {
        width: 100%;
    }
}
