:root {
    --my-yellow: #ffc008;
    --my-grey: #6c757d;
    --my-red: #dc3545;
    --my-bg: rgb(35, 36, 36);
}

body {
    background-color: #10151c;
}

/* Podstawowe style karty */
.card {
    background-color: var(--my-bg);
    border: 1px solid var(--my-yellow);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
}

/* Style headera */
h2 {
    color: var(--my-grey);
    text-align: center;
    width: 100%;
}

/* Style formularza */
.form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 15px;
    padding: 0 20px;
}

.form-row label {
    color: var(--my-grey);
    margin-bottom: 8px;
    /*flex: 0 0 120px;*/
    text-align: left;
    font-weight: 500;
}

.form-row input {
    width: 90%;
    ;
    /*flex: 0 0 40%;*/
    background-color: transparent;
    border: 1px solid var(--my-yellow);
    border-radius: 10px;
    color: var(--my-yellow);
    padding: 10px 15px;
    text-align: center;
}

.form-row input:focus {
    outline: none;
    background-color: rgba(255, 192, 8, 0.1);
    box-shadow: 0px 0px 4px 1px rgba(245, 231, 71, 0.9);
}

/* Style przycisków */
.button-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* przyciski do centrum */
    gap: 20px;  /* odstęp między przyciskami */
}

.save-button {
    width: auto;
    /*width: 40%;*/
    color: #0dcaf0;
    border-radius: 10px;
    border-color: #0dcaf0;
    padding: 10px 30px;
    background-color: transparent;
    transition-duration: 0.4s;
    text-align: center;
}

.save-button:hover {
    color: black;
    background-color: #0dcaf0;
}

.nav-button {
    width: auto;
    color: #ffc008;
    border-radius: 10px;
    border-color: #ffc008;
    padding: 10px;
    background-color: transparent;
    transition-duration: 0.4s;
    /*width: 40%;*/
    text-align: center;
    display: block;
    margin-top: 20px;
}

.nav-button:hover {
    color: black;
    background-color: #ffc008;
}

/* Stylizacja dla number input */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Media queries */
@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border-radius: 0;
        /*margin: 10px;*/
        /*width: calc(100% - 20px);*/
    }

    .form-row {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row label {
        color: var(--my-grey);
        margin-bottom: 8px;
    }

    .form-row input {
        width: 90%;
        font-size: 2rem;
        padding: 15px;
    }

    .nav-button,
    .save-button {
        width: 100%;
        padding: 15px;
        font-size: 1.3rem;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}
