<!DOCTYPE html>
<html lang="gb" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body p-4">
            <h2 class="text-center mb-4" th:text="${client.id == null ? 'Add New Client' : 'Edit Client'}">Client Details</h2>

            <form th:action="@{/clients/save}" method="post" th:object="${client}" class="text-end">
                <input type="hidden" th:field="*{id}">

                <div class="client-form-field">
                        <label>Client Name:</label>
                        <input type="text" th:field="*{clientName}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>House No.:</label>
                    <input type="text" th:field="*{houseNo}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>Street Name:</label>
                    <input type="text" th:field="*{streetName}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>Post Code:</label>
                    <input type="text" th:field="*{postCode}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>City:</label>
                    <input type="text" th:field="*{city}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>Email:</label>
                    <input type="email" th:field="*{email}" class="form-control" required>
                </div>

                <div class="client-form-field">
                    <label>Hourly Rate (£):</label>
                    <input type="number" th:field="*{hourlyRate}" class="form-control text-end" step="0.01" min="0" required>
                </div>

                <div class="client-form-button-group">
                    <button type="submit" class="save-button">Save Client</button>

                    <button type="button" class="nav-button" onclick="window.location.href='/clients';">Back to Clients List</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
