<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HourlyTrack - Time and Invoice Management">
    <meta name="theme-color" content="#ffc008">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TimeSheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="TimeSheet">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#ffc008">
    <link rel="manifest" th:href="@{/manifest/manifest.json}">
    <link rel="icon" type="image/svg+xml" href="/icons/icon.svg">
    <link rel="shortcut icon" type="image/svg+xml" href="/icons/icon.svg">
    <link rel="apple-touch-icon" href="/icons/icon.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon.svg">
    <link rel="apple-touch-icon" sizes="167x167" href="/icons/icon.svg">
    <link rel="apple-touch-startup-image" href="/icons/icon.svg">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <title>Hourly_Track</title>
</head>
</html>
