<!DOCTYPE html>
<html lang="gb" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Invoice Items</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="card">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Check Invoice Items</h2>

          <form method="post" th:action="@{/invoice-items}">
            <div class="row mb-4">
              <div class="col-md-8">
                <label>Invoice for:</label>
                <select class="form-control" id="clientId" name="clientId" required>
                  <option value="">Select client</option>
                  <option th:each="client : ${clients}"
                          th:value="${client.id}"
                          th:text="${client.clientName}"
                          th:data-rate="${client.hourlyRate}">
                  </option>
                </select>
<!--              </div>-->
<!--              <div class="col-md-4">-->
                <label>Invoice date:</label>
                <input type="date" class="form-control"
                       name="issueDate" required>
              </div>
            </div>

            <div class="table-responsive mb-4">
              <table class="table">
                <thead>
                <tr>
                  <th>Select</th>
                  <th>Service Date</th>
                  <th>Duration</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timesheet : ${timesheets}"
                    th:data-clientId="${timesheet.clientId}">
                  <td>
                    <input type="checkbox"
                           class="timesheet-select"
                           name="timesheetIds"
                           th:value="${timesheet.id}"
                           th:data-duration="${timesheet.duration}">
                  </td>
                  <td th:text="${#temporals.format(timesheet.serviceDate, 'yyyy-MM-dd')}"></td>
                  <td th:text="${timesheet.duration}"></td>
                  <td class="hourly-rate">0.00</td>
                  <td class="amount"></td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                  <td colspan="4" class="text-right"><strong>Total Amount:</strong></td>
                  <td class="total-amount">0.00</td>
                </tr>
                </tfoot>

              </table>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="nav-button">Create Invoice</button>
              <button type="button" class="nav-button" onclick="window.location.href='/';">Back to Main Page</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/invoice-items.js}"></script>
</body>
</html>
